:root{
    --size: 16;
    --background: #e0e0e0;
    --foreground: #2f2f2f;
    --red: 224;
    --green: 224;
    --blue: 224;
}

*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
    color: var(--foreground);
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
}

body{
    height: 100vh;
}

.wrapper{
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    margin: 1em;
}

button{
    padding: .5rem 2rem;
    margin: 1em;
    border: 0;
    box-shadow: 0 0 0 .1em palegoldenrod;
    border-radius: 5ch;
    background: crimson;
    transition: transform ease-in 500ms;
}

button:hover, button:focus, button:focus-visible{
    filter: brightness(90%);
    transform: scale(1.1);
}

.grid_container{
    --size: 16;
    margin: 1em;
    display: grid;
    width: 100%;
    max-width: 17em;
    min-height: 17em;
    grid: repeat(var(--size), 1fr) / repeat(var(--size), 1fr);
}

.grid_item{
    background: rgb(var(--red), var(--green), var(--blue));
    outline: .5px solid slateblue;
}

.grid_item_too{
    background: rgb(var(--red), var(--green), var(--blue));
}

@media(prefers-color-scheme: dark){
    body{
        --background: #2f2f2f;
        --foreground: #e0e0e0;
    }

    .grid_item{
        --red: 47;
        --green: 47;
        --blue: 47;
    }
}

@media only screen and (min-width: 726px){
    .grid_container{
        max-width: 30em;
        min-height: 30em;
    }
}


@media only screen and (min-width: 1100px) {
    .grid_container{
        max-width: 35em;
        min-height: 35em;
    }
}